@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro:900');
body{
    margin: 0;
    background-color: white; 
    height: 100vh;   
    max-height: 100vh;
}

h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    margin: 0;
}

h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    margin: 0;
}

p{
    font-family: 'Montserrat', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
}

#animation{
    position: absolute;
    text-align: center;
    top: 10%;
    width: 100%;
}

#strike{
    text-decoration: none;
    text-emphasis: strike
}